/* Button */
button {
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: translateY(-5px);
}

button:active {
  transform: scale(0.95);
}

/* Stat group */
.stat-group {
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #e5e7eb;
}

/* Toast */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px); /* Bắt đầu từ trên */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Dừng ở giữa */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0); /* Bắt đầu ở giữa */
  }
  to {
    opacity: 0;
    transform: translateY(-30px); /* Trượt ngược lên trên */
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-fadeOut {
  animation: fadeOut 0.2s ease-in forwards;
}

/* Hide spin button */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
