/* === Card === */
.card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  border: 1px solid #f3f4f6;
}

/* === Input === */
.input-style {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.input-style:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
}

/* === Stat Group === */
.stat-group {
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #e5e7eb;
}

/* === Custom Scrollbar === */
#province-distribution::-webkit-scrollbar {
  width: 8px;
}

#province-distribution::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
}

#province-distribution::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* === Province Input Value Overlay === */
.province-input-container {
  position: relative;
}

.province-input-value {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: #2563eb;
  pointer-events: none;
  padding-right: 5px;
}

/* Toast */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(30px);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-fadeOut {
  animation: fadeOut 0.2s ease-in forwards;
}
